# This sets the `.gitignore` to be a *whitelist* by default.
**/**
!*/


# Whitelist
!*.md
!LICENSE
!.gitignore
!assets/**
!build.zig
!build.zig.zon
!lib/**

!*.zig

# Blacklist (overrides Whitelist)
zig-out/**
zig-cache/**
